@import "config", "button";

body {
  background: $background-colour;
  color: set-text-colour($background-colour);
  height: 100vh;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

h1 {
  font-weight: 500;
}

a {
  color: blue;
  text-decoration: none;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 1rem;
  }
}

.game {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  #canvas {
    // width: 1000px;
    // height: 700px;
    width: 80vw;
    height: 80vh;
    margin: 1rem 0;
  }

  &-stat {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0 1rem;
    }
  }

  p {
    color: set-text-colour($background-colour);
    margin-bottom: 5px;
  }
}
